
.viewport{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 11;
}
.viewports {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 11;
  overflow: hidden;
}
.viewport-fhd{
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 100vh;
  overflow: hidden;
}
#char-b-left{
  width: 1920px
}
#char-b-right{
  width: 2218px
}
#char-b-right svg{
    width: 120px;
    height: 180px;
    top: 50vh;
    left: 50vw;
    margin: -90px 0 0 -60px;
    position: absolute;
    box-shadow: 0 0 0 100vmax #fff;
}
#char-b-right>.viewport,
#char-b-left>.viewport,
.screen-first{
  background-image: linear-gradient(to top right, #3f51b5, #2196f3)
}
.screen-four{
  background: #009688
}
.logo {
  position: absolute;
  width: 120px;
  height: 180px;
  left: 50vw;
  top: 50vh;
  margin: -90px 0 0 -60px;
  svg{
    height: 180px;
  }
}

.chars-container {
  width: 150vmax;
  width: 1920px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 50;
  transform: translateX(1920px);
  > div {
    display: flex;
    outline: 1px solid red;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    box-shadow: 50vmax 0 0 0 #fff;
    svg {
      height: 180px;
      box-shadow: 0 0 0 100vmax #fff;
    }
  }
}
.screen-third{
  left: 100vw;
  z-index: 40;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  .text-dark{
    span{
      font-size: 120px;
      line-height: 120px;
      color: #000;
      font-weight: bold;
    }
  }
  .first-box>div,
  .first-box{
    top: 0;
    left:0;
  }
  .second-box,
  .first-box{
    height: 50vh;
  }
  .second-box>div,
  .second-box{
    bottom: 0;
    right:0;
    top: auto;
    left: auto;
  }
  >.viewport{
    overflow: hidden;
    >.viewport{

      background-image: linear-gradient(to bottom right, #4050b5, #2196f3);
    }
  }
  .third-box{
    background: #000;
    >.viewport{
      opacity: 0;
      video{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    svg {
      width: 100vw;
      height: 100vh;
      position: relative;
      z-index: 22;
    }
    svg text {
      text-anchor: middle;
    }
    svg #overlay {
      fill: white;
      opacity: 1;
    }
    svg #text {
      font-size: 120px;
      font-weight: bold;
    }
    svg #r {
      fill: white;
      mask: url(#mask);
    }
  }
  .third-box,
  .viewport>div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }
  .text{
    span{
      font-size: 80px;
      color: #fff;
    }
    opacity: 0;
    transform: translate(100vw,-40vh) scale(2);
    &.text-3-2{
      transform: translate(-100vw,40vh) scale(2);
    }
    // position: absolute;
  }
}

.squart{
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -10px;
  z-index: 12;
}
.squart+.squart{
  margin: 10px 0 0 10px
}
.squart>div{
  width: 80px;
  height: 80px;
  border: 2px solid #fff;
  position: absolute;
  left: -40px;
  top: -40px;
  border-radius: 10px;
}
.item {
  margin-bottom: 50vh;
  text-align: center;
  height: 0;
  position: relative;
  z-index: 90;
  color: #fff;
  border-top: 1px solid rgba(255,255,255,.1);
  line-height: 0
}
.overlay {
  fill: white;
  opacity: 1;
}